body{
    background: cornsilk;
}
h1, h2{
    text-align: center;
    color: midnightblue;
}
#letter, #answer, #counter, #wrong {text-align: center;
    color: midnightblue;}
#button {align-items: center;
color: cornsilk;
background-color: midnightblue;}
